 body {
      font-family: "noto sans", sans-serif;
      margin: 0;
      padding: 0;
      background-color: #333;
      color: white;
    }
    .container {
      max-width: 1200px;
      margin: 20px auto;
      padding: 20px;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 20px;
    }
    .project {
      background-color: #333;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px #000;
    }
    .project h2 {
      margin-top: 0;
    }

    header {
        background-color: black;
        padding: 10px 20px;
        text-align: center;
    }

    a {
        color: #6448cc;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    h1 {
        text-align: center;
    }
